@use "../../assets/styles/variables.scss" as *;

.product-container {
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 1.5rem;
  font-family: $ff-serif;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.product-container > * {
  width: 100%;
}

.product-illustration {
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.swatches {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.swatch-img {
  all: unset;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  max-width: 5rem;
  padding: .5rem;
}