@use "../../assets/styles/variables.scss" as *;

.catalogue-container {
  font-family: $ff-serif;
  max-width: 80rem;
  margin: 0 auto;
  position: relative;

  h1 {
    margin: 5rem 0;
    text-align: center;
  }
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.product {
  box-shadow: 0 4px 12px 2px hsla(0, 0%, 0%, .25);
  padding: 1rem;
  font-size: 1rem;
}

.product img {
  max-width: 10rem;
  margin: 0 auto;
}

.details-btn {
  all: unset;
  background: $clr-primary-brown;
  border-radius: 3px;
  cursor: pointer;
  padding: .25rem .75rem;
  font-family: $ff-sans-serif;
  font-size: .75rem;
  margin-top: 1rem;
  text-transform: uppercase;
  transition: all .2s ease;

  &:hover {
    opacity: .8;
    transform: scale(1.05);
  }
}

.modal {
  background: gray;
  box-shadow: 0 4px 12px 2px hsla(0, 0%, 0%, .25);
  padding: 2rem;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    max-width: 10rem;
    margin: 0 auto;
  }
}