@use "../../assets/styles/variables.scss" as *;

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.logo {
  border-radius: 50%;
  max-width: 10rem;
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-top: 2.5rem;
  position: relative;
  width: 100%;
}

.header-nav::before {
  content: "";
  width: 80%;
  height: 1px;
  background: $clr-neutral-grey-900;
  position: absolute;
  top: -1rem;
}

.nav-link,
.nav-link:active {
  color: $clr-neutral-black;
  font-family: $ff-serif;
  transition: all .2s ease;

  &:hover {
    opacity: .8;
  }
}